@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  #rightBlock {
    /* position: absolute;
    right: 0px;
    top: 0px; */
    background-color: blue;
    max-width: 400px;
    min-width: 100px;
    padding: 3em;
    /* width: 400px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #logName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 120px;
    color: white;
  }
  
  #logoCont {
    display: flex;
    flex-direction: row;
    width: 40px;
  }
  
  #line1 {
    width: 5px;
    height: 25px;
    background-color: white;
    margin: auto;
    border-radius: 40px;
    transform: skewX(-30deg);
    animation: spinTwo 4s ease-out;
  }
  
  #line2 {
    width: 5px;
    height: 25px;
    background-color: white;
    margin: auto;
    border-radius: 40px;
    transform: skewX(30deg);
    animation: spinOne 4s ease-out;
  }
  
  #logName1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 120px;
  }
  
  #line11 {
    width: 5px;
    height: 25px;
    background-color: blue;
    margin: auto;
    border-radius: 40px;
    transform: skewX(-30deg);
    animation: spinTwo 4s ease-out;
  }
  
  #line21 {
    width: 5px;
    height: 25px;
    background-color: blue;
    margin: auto;
    border-radius: 40px;
    transform: skewX(30deg);
    animation: spinOne 4s ease-out;
  }
  
  @keyframes spinOne {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(3570deg);
    }
  }
  
  @keyframes spinTwo {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(-3570deg);
    }
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
  }
  
  .navAnchor {
    text-decoration: none;
    font-size: 30px;
    color: white;
  }
  
  .navAnchor:hover {
    text-decoration: line-through;
  }
  
  #icon1,
  #icon2,
  #icon3,
  #icon4 {
    border: 2px solid white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-bottom: 20px;
  }
  
  #leftBlock {
    width: calc(100vw - 400px);
    height: 100vh;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #text {
    width: 500px;
    font-size: 18px;
  }
  
  #text span {
    font-weight: bold;
  }
  
  #form {
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  input {
    border: none;
    border-bottom: 1px solid black;
    background: whitesmoke;
    padding: 9px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  input:nth-of-type(1),
  input:nth-of-type(2) {
    width: 225px;
  }
  
  input:nth-of-type(3) {
    width: 455px;
  }
  
  input:nth-of-type(4) {
    width: 225px;
  }
  
  input:nth-of-type(5) {
    width: 145px;
  }
  
  select {
    border-radius: 5px;
    height: 35px;
    margin-right: 5px;
  }
  
  #next {
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
  }
  
  #next:hover {
    cursor: pointer;
  }
  
  .gap1 {
    width: 100px;
    height: 20px;
  }
  
  .gap2 {
    width: 100px;
    height: 80px;
  }

  #homeBtn {
    display: none;
  }
  @media (max-width: 880px) {
    #rightBlock {
      display: none;
    }

    #homeBtn {
      display: block;
      position: fixed;
      top: 50px;
      left: 50px;
    }

    #homeBtn a {
      color: blue;
    }

    #leftBlock {
      width: 100vw;
      margin-right: 20px;
    }
  }

  @media (max-width: 600px) {
    #text {
      width: 300px;
    }

    #form {
      width: 300px;
    }

    input:nth-of-type(3) {
      width: 300px;
  }
  }